DB_USER=postgres
DB_PASS=postgres
DB_NAME=ms2ex_dev
DB_HOST=localhost
SERVER_ADDRESS=127.0.0.1

# Ecto query log level in development (debug, info, warning, ... or "false"
# to disable); defaults to error
# ECTO_LOG_LEVEL=error
