# DB_HOST=localhost
# DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ms2ex_dev

# REDIS_HOST=localhost
# REDIS_PORT=6379

SERVER_ADDRESS=127.0.0.1

# WEB_PORT=4000

# UGC data directory; defaults to priv/ugc
# UGC_DATA_DIR=/path/to/ugc_data

# Ecto query log level; defaults to false
# ECTO_LOG_LEVEL=debug
